/* css geral */

@font-face {
    font-family: 'Alexandria-Bold';
    src: url('./fonts/alexandria-bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria-Regular';
    src: url('./fonts/alexandria-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./fonts/alexandria-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #F3F2F1;
    margin: 0;   
    padding: 0;
    display: flex; 
    font-family: Alexandria-Regular; 
}

.barra-lateral {
    background-color: #0066FF;
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 32px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

.menu-topo {
    margin-bottom: 45px;
}

.icones-centrais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.config-baixo {
    margin-top: auto;
}

.barra-lateral a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.barra-lateral img {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1);
}

.barra-lateral a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.botao-flutuante {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 64px;
    height: 64px;
    background-color: #0066FF;
    color: white;
    border: none;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;      
    padding-bottom: 4px; 
    
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 102, 255, 0.3);
}