@font-face {
    font-family: 'Alexandria-Bold';
    src: url('/src/public/fonts/alexandria-bold.woff2') format('truetype');
}

@font-face {
    font-family: 'Alexandria-Regular';
    src: url('/src/public/fonts/alexandria-regular.woff2') format('truetype');
}

@font-face {
    font-family: 'Alexandria-Light';
    src: url('/src/public/fonts/alexandria-light.woff2') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Alexandria-Regular', sans-serif;
    background-color: #F3F2F1;
    -webkit-font-smoothing: antialiased;
}